<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="chat">
      <ion-icon aria-hidden="true" name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="tips">
      <ion-icon aria-hidden="true" name="bulb"></ion-icon>
      <ion-label>Tips</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="quiz">
      <ion-icon aria-hidden="true" name="game-controller"></ion-icon>
      <ion-label>Quiz</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>